*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: violet;
}

h1{
    padding: 10px;
    text-align: center;
    background-color: rgb(188, 119, 253);
    color:  rgb(61, 2, 117);
}

.video-single{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.video-title{
    cursor: pointer;
}

.video-title h3{
    font-size: 22px;
    color: rgb(61, 2, 117);
    padding: 10px;
    text-align: center;
}

.video-single video{
    width: 100%;
}